@font-face {
    font-family: "Roboto_bold";
    font-weight: 700;
    font-style: bold;
    font-display: swap;
    src: url("fonts/Roboto-Bold.woff2") format("woff2"),
    url("fonts/Roboto-Bold.woff") fonts("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Regular.woff") fonts("woff");
}

.lazzat-start {
    font-family: "Roboto_bold","Arial",sans-serif;
    text-align: center;
}

* {
    text-decoration: none;
    list-style-type: none;
}
.menu a{
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 900;
    font-size: 25px;
}
.menu a:hover{
    background-color: khaki;
    color:black
}
.menu a:active{
    color:red;
}
.menu a:focus{
    background-color: rgba(3, 17, 5, 0);
    color :rgba(255, 0, 234, 0.329)
}

.big-menu {
    font-family: "Roboto","Arial",sans-serif;
}

.kfc a{
    font-weight: bold;
    font-size: 25px;
}
.taomlar{
    background-color: rgba(255, 109, 5, 0.89);
    
}
.taomlar:hover {
    background-color:sandybrown;
    color: white;
}
h3:hover{
    color: red;
}
.ichimlik{
    background-color: rgb(112, 220, 253);
    color:white;
}
.ichimlik:hover{
    background-color: turquoise;
    color: tomato;
}
.desert{
    background-color: tomato;
    color:white;
}
.desert:hover{
    background-color: turquoise;
}
.salat{
    background-color: rgb(130, 234, 238);
}
.salat:hover{
    background-color: yellow;
    color: olive;
}

.ritseps{
    background-color: white;
    color: black;
    font-size: 30px;
    text-align:center;
    
}
.ritseps:hover{
    background-color: blue;
    color: white;
}